@charset "UTF-8";

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

	table {
		border-collapse: collapse;
		width: 100%;
		table-layout: fixed;
	}
	
	#reservationInfo tr {
		background-color: #EEEEEE;
		border-bottom: 1px solid #EEEEEE;
		cursor: default;
		user-select: text;
	}
	
	#reservationInfo tr td:nth-child(1) {
		font-family: IBMPlexSansKR-Regular;
		text-align: center;
		font-size: 0.8em;
		font-weight: bold;
		color: #000000;
		width: 30%;
		height: 3em;
		padding: 0.5%;
	}
	
	#reservationInfo tr td:nth-child(2) {
		font-family: IBMPlexSansKR-Regular;
		text-align: left;
		font-size: 0.8em;
		color: #000000;
		width: 70%;
		height: 3em;
		padding: 0.5%;
	}
	
	table thead tr td {
		font-family: IBMPlexSansKR-Regular;
		text-align: center;
		font-size: 0.8em;
		font-weight: 500;
		color: #FFFFFF;
		background-color: #2E2E2E;
		border: 1px solid #2E2E2E;
		height: auto;
		padding: 0.5%;
		user-select: none;
	}
	
	table tbody tr {
		border-bottom: 1px solid #A4A4A4;
	}
	
	table tbody tr td {
		font-family: IBMPlexSansKR-Regular;
		text-align: center;
		font-size: 0.8em;
		font-weight: 500;
		color: #000000;
		height: 4.5em;
		user-select: none;
	}
	
	table tbody tr .timeTable {
		cursor: pointer;
	}
	
	.hoverBall {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		background-color: #FFFFFF;
		width: 25%;
		height: 25%;
		border-radius: 100%;
		transition: all 0.25s ease;
	}
	
	table tbody tr .timeTable:hover .hoverBall {
		background-color: #E6E6E6;
		width: 75%;
		height: 60%;
	}
	
	#reserved {
		cursor: default;
	}
	
	#reserved:hover {
		background-color: #FFFFFF;
	}
	
	input[type=text] {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		width: 80%;
		height: 2em;
		border: 1px solid #C4C4C4;
		border-radius: 2px;
		outline: 0;
		background-color: #FFFFFF;
		color: #000000;
		padding: 1% 2% 1% 2%;
	}
	
	.checkFlag {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		text-align: center;
		width: 4em;
		height: 2.5em;
		border: 0;
		border-radius: 1em;
		background-color: #6E6E6E;
		color: #FFFFFF;
		outline: 0;
		padding: 0 2% 0 2%;
		cursor: pointer;
		user-select: none;
		transition: all 0.25s ease;
	}
	
	.checkTrue {
		background-color: #088A08;
	}
	
	.checkFalse {
		background-color: #B40404;
	}
	
	select {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		width: 30%;
		height: 2.5em;
		border: 1px solid #C4C4C4;
		border-radius: 2px;
		outline: 0;
		background-color: #FFFFFF;
		color: #000000;
		padding: 1% 2% 1% 2%;
	}
	
	#selectStartTime, #selectEndTime {
		width: 25%;
	}
	
	#selectDate {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		width: 35%;
		height: 2em;
		border: 1px solid #C4C4C4;
		border-radius: 2px;
		outline: 0;
		background-color: #FFFFFF;
		color: #000000;
		padding: 1% 2% 1% 2%;
	}
	
	textarea {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		width: 80%;
		height: 10em;
		border: 1px solid #C4C4C4;
		border-radius: 2px;
		outline: 0;
		background-color: #FFFFFF;
		color: #000000;
		padding: 2%;
		resize: none;
	}
	
	input[type=date]:not(#selectDate) {
		float: right;
		font-family: IBMPlexSansKR-Regular;
		font-size: 0.8em;
		font-weight: 500;
		width: 10em;
		height: 2.5em;
		border: 0;
		background-color: #F2F2F2;
		color: #000000;
		margin-bottom: 1%;
		margin-left: 1%;
		margin-right: 1%;
		padding-left: 1%;
		padding-right: 1%;
	}
	
	.error {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		text-align: center;
		width: 2.5em;
		height: 2.5em;
		border: 0;
		border-radius: 100%;
		background-color: #B40404;
		color: #FFFFFF;
		outline: 0;
		padding: 0 2% 0 2%;
		user-select: none;
	}
	
	#leftArrow, #rightArrow {
		float: right;
		font-family: IBMPlexSansKR-Regular;
		font-size: 0.8em;
		font-weight: 500;
		text-align: center;
		width: 2.5em;
		height: 2.5em;
		border: 1px solid #2E2E2E;
		background-color: #2E2E2E;
		outline: 0;
		color: #FFFFFF;
		margin-bottom: 1%;
		padding: 0;
		cursor: pointer;
		user-select: none;
	}
	
	.popupBackground {
        display: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        z-index: 5;
    }
    
    .popupBox {
        display: none;
		font-family: IBMPlexSansKR-Regular;
        position: absolute;
        text-align: center;
		width: 35em;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 1%;
        background-color: #EEEEEE;
		box-shadow: 4px 4px 4px #000000;
        z-index: 6;
        user-select: none;
    }
    
    .closeBtn {
		float: right;
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: bold;
		width: 1.5em;
		height: 1.5em;
		border: 0;
		border-radius: 100%;
		background-color: #D8D8D8;
		color: #000000;
		padding: 0;
		margin: 0;
		cursor: pointer;
		user-select: none;
	}
	
	#reservation {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: 500;
		text-align: center;
		background-color: #6E6E6E;
		color: #FFFFFF;
		padding: 0.5em 0 0.5em 0;
		outline: 0;
		border: 0;
		border-radius: 1em;
		cursor: pointer;
		transition: all 0.25s ease;
	}
	
	#reservation:not([name=noPopup]):hover {
		background-color: #2E2E2E;
		padding: 0.75em 0 0.75em 0;
	}
	
	.filteredRsv {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: 500;
		text-align: center;
		background-color: #D8D8D8;
		color: #A4A4A4;
		padding: 0.5em 0 0.5em 0;
		outline: 0;
		border: 0;
		border-radius: 1em;
		transition: all 0.25s ease;
	}
	
	.updateBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: 500;
		width: 5em;
		height: 2.5em;
		border: 0;
		background-color: #2E2E2E;
		color: #FFFFFF;
		padding: 0;
		margin: 0 0 0 10%;
		cursor: pointer;
		user-select: none;
	}
	
	.deleteBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: 500;
		width: 5em;
		height: 2.5em;
		border: 0;
		background-color: #D8D8D8;
		color: #A4A4A4;
		padding: 0;
		margin: 0 10% 0 0;
		cursor: pointer;
		user-select: none;
	}
	
	.saveBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: 500;
		width: 5em;
		height: 2.5em;
		border: 0;
		background-color: #2E2E2E;
		color: #FFFFFF;
		padding: 0;
		margin: 0 0 0 10%;
		cursor: pointer;
		user-select: none;
	}
	
	.resetBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: 500;
		width: 5em;
		height: 2.5em;
		border: 0;
		background-color: #D8D8D8;
		color: #A4A4A4;
		padding: 0;
		margin: 0 10% 0 0;
		cursor: pointer;
		user-select: none;
	}
	
	#filterType {
		font-family: IBMPlexSansKR-Regular;
		font-size: 0.8em;
		width: 7.5em;
		height: 2.5em;
		border: 0;
		outline: 0;
		background-color: #D8D8D8;
		color: #000000;
		padding: 0 0.5% 0 0.5%;
	}
	
	#filter {
		font-family: IBMPlexSansKR-Regular;
		font-size: 0.8em;
		width: 20em;
		height: 2.5em;
		border: 0;
		outline: 0;
		background-color: #D8D8D8;
		color: #000000;
		padding: 0 0.5% 0 0.5%;
	}
	
	.searchBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 0.8em;
		font-weight: 500;
		width: 5em;
		height: 2.5em;
		border: 0;
		background-color: #2E2E2E;
		color: #FFFFFF;
		padding: 0;
		margin-bottom: 1%;
		cursor: pointer;
		user-select: none;
	}
	
	.myScheduleArea {
		display: inline-block;
		width: 4.5em;
		height: 2em;
		border: 0;
		border-radius: 10em;
		background-color: #D8D8D8;
		color: #FFFFFF;
		padding: 0 2em 0 0;
		margin-left: 0.25%;
		margin-bottom: 1%;
		user-select: none;
		transition: all 0.25s ease;
	}
	
	.myScheduleBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 0.8em;
		font-weight: 500;
		width: 100%;
		height: 100%;
		border: 0;
		outline: 0;
		border-radius: 10em;
		background-color: #6E6E6E;
		color: #FFFFFF;
		cursor: pointer;
		user-select: none;
	}
	
	.myScheduleOn {
		padding: 0 0 0 2em;
	}
	
	.myScheduleOn .myScheduleBtn {
		background-color: #045FB4;
	}