@charset "UTF-8";

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

	#memberInfo {
		border-collapse: collapse;
		width: 100%;
	}
	
	#memberInfo tr {
		background-color: #EEEEEE;
		border-bottom: 1px solid #EEEEEE;
		cursor: default;
		user-select: text;
	}
	
	#memberInfo tr td:nth-child(1) {
		font-family: IBMPlexSansKR-Regular;
		text-align: center;
		font-size: 0.8em;
		font-weight: bold;
		color: #000000;
		width: 20%;
		height: 3em;
		padding: 0.5%;
	}
	
	#memberInfo tr td:nth-child(2) {
		font-family: IBMPlexSansKR-Regular;
		text-align: left;
		font-size: 0.8em;
		color: #000000;
		width: 80%;
		height: 3em;
		padding: 0.5%;
		padding: 0.5% 10% 0.5% 0.5%;
	}
	
	.loginBox {
		position: relative;
		text-align: center;
		color: #FFFFFF;
		background-color: #2E2E2E;
		border: 1px solid #2E2E2E;
		width: 100%;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 1.5%;
		user-select: none;
	}
	
	.mainLogo {
		width: 15%;
		height: auto;
		margin-bottom: 2.5%;
		transition: all 1s ease;
	}
	
	.mainInfo {
		position: relative;
		border-collapse: collapse;
		width: 15%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2.5%;
	}
	
	.mainInfo tr td {
		text-align: center;
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: bold;
		padding: 1.5%;
	}
	
	#userID, #userPW {
		font-family: IBMPlexSansKR-Regular;
		font-size: 0.8em;
		width: 80%;
		border: 1px solid #A4A4A4;
		padding: 2.5%;
		outline: 0;
	}
	
	.loginBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 0.8em;
		font-weight: bold;
		border: 1px solid #A4A4A4;
		padding: 0.25% 0.5% 0.25% 0.5%;
		margin-right: 1%;
		cursor: pointer;
		transition: all 0.25s ease;
	}
	
	.unLoginBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 0.8em;
		font-weight: bold;
		padding: 0.25% 0.5% 0.25% 0.5%;
		border: 1px solid #A4A4A4;
		margin-left: 1%;
		cursor: pointer;
		transition: all 0.25s ease;
	}
	
	.requestMemberBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 0.8em;
		font-weight: bold;
		border: 1px solid #A4A4A4;
		padding: 0.25% 0.5% 0.25% 0.5%;
		cursor: pointer;
		transition: all 0.25s ease;
	}
	
	.loginBtn:hover, .unLoginBtn:hover, .requestMemberBtn:hover {
		transform: scale(110%);
	}
	
	.popupBackground {
        display: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        z-index: 5;
    }
    
    .popupBox {
        display: none;
		font-family: IBMPlexSansKR-Regular;
        position: absolute;
        text-align: center;
		width: 50%;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 1%;
        background-color: #EEEEEE;
		box-shadow: 4px 4px 4px #000000;
        z-index: 6;
        user-select: none;
    }
    
    .videoGameFrame {
        display: none;
        position: absolute;
        font-family: IBMPlexSansKR-Regular;
        text-align: center;
        width: 95%;
        height: 75%;
        top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-image: url("/resources/Images/gameFrame.png");
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
        z-index: 6;
        user-select: none;
    }
    
    .videoGameFrame iframe {
    	position: absolute;
		border: none;
		width: 60%;
        height: 85%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
    }
    
    .closeBtn {
		float: right;
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: bold;
		width: 1.5em;
		height: 1.5em;
		border: 0;
		border-radius: 100%;
		background-color: #D8D8D8;
		color: #000000;
		padding: 0;
		margin: 0;
		cursor: pointer;
		user-select: none;
	}
	
	.requestBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: 500;
		width: 5em;
		height: 2.5em;
		border: 0;
		background-color: #2E2E2E;
		color: #FFFFFF;
		padding: 0;
		margin: 0 0 0 10%;
		cursor: pointer;
		user-select: none;
	}
	
	.resetBtn {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		font-weight: 500;
		width: 5em;
		height: 2.5em;
		border: 0;
		background-color: #D8D8D8;
		color: #A4A4A4;
		padding: 0;
		margin: 0 10% 0 0;
		cursor: pointer;
		user-select: none;
	}
	
	.popupBox input[type=text] {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		width: 35%;
		height: 2em;
		border: 1px solid #C4C4C4;
		border-radius: 2px;
		outline: 0;
		background-color: #FFFFFF;
		color: #000000;
		padding: 1% 2% 1% 2%;
	}
	
	.popupBox input[type=password] {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		width: 35%;
		height: 2em;
		border: 1px solid #C4C4C4;
		border-radius: 2px;
		outline: 0;
		background-color: #FFFFFF;
		color: #000000;
		padding: 1% 2% 1% 2%;
	}
	
	textarea {
		font-family: IBMPlexSansKR-Regular;
		font-size: 1em;
		width: 96%;
		height: 25em;
		border: 1px solid #C4C4C4;
		border-radius: 2px;
		outline: 0;
		background-color: #FFFFFF;
		color: #000000;
		padding: 2%;
		resize: none;
	}