
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>드럼트리</title>

<link rel="stylesheet" type="text/css" href="resources\CSS\Style_Common.css">
<link rel="stylesheet" type="text/css" href="resources\CSS\Style_Admin_Account.css">
<script type="text/javascript" src="resources\JavaScript\Menubar.js"></script>
<script type="text/javascript" src="resources\JavaScript\Common.js"></script>
<script type="text/javascript" src="resources\JavaScript\Func_Admin_Account.js"></script>
<script type="text/javascript" src="resources\JQuery\jquery-3.5.1.min.js"></script>
<script type="text/javascript">
	selectCurrentMenu(3,2);
	loadIPstring();
	createTableHead();
	createTableBody(IPstring);
</script>
</head>

<body>
<div class="menuBar"><script>createMenubar();</script></div>
<input type="button" class="hideButton" value="≡" onclick="hideMenubar()">
<div class="headerBar"><a>회원 관리</a><hr></div>
<div class="mainScreen">
	<table>
		<thead></thead>
		<tbody></tbody>
	</table>
</div>
</body>
</html>