
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>드럼트리</title>

<link rel="stylesheet" type="text/css" href="resources\CSS\Style_Common.css">
<link rel="stylesheet" type="text/css" href="resources\CSS\Style_Admin_Approval.css">
<script type="text/javascript" src="resources\JavaScript\Menubar.js"></script>
<script type="text/javascript" src="resources\JavaScript\Common.js"></script>
<script type="text/javascript" src="resources\JavaScript\Func_Admin_Approval.js"></script>
<script type="text/javascript" src="resources\JQuery\jquery-3.5.1.min.js"></script>
<script type="text/javascript">
	selectCurrentMenu(3,1);
	loadIPstring();
	createTableHead();
	createTableBody();
</script>
</head>

<body>
<div class="menuBar"><script>createMenubar();</script></div>
<input type="button" class="hideButton" value="≡" onclick="hideMenubar()">
<div class="headerBar"><a>회원등록 승인</a><hr></div>
<div class="mainScreen">
	<select id="filterType">
		<option value="id">아이디</option>
		<option value="name">닉네임</option>
		<option value="memo">회원 메모</option>
	</select>
	<input type="text" id="filter" spellcheck="false" placeholder="검색어를 입력해 주세요.">
	<input type="button" class="searchBtn" value="검색" onclick="filterMember()">
	<table>
		<thead></thead>
		<tbody></tbody>
	</table>
</div>
<div class="popupBackground"></div>
<div class="popupBox"></div>
</body>
</html>