<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>드럼트리</title>

<link rel="stylesheet" type="text/css" href="resources/CSS/Style_Common.css">
<link rel="stylesheet" type="text/css" href="resources/CSS/Style_Editor.css">
<link rel="stylesheet" type="text/css" href="resources/CSS/Style_Login.css">
<script type="text/javascript" src="resources/JavaScript/Menubar.js"></script>
<script type="text/javascript" src="resources\JavaScript\Common.js"></script>
<script type="text/javascript" src="resources\JavaScript\Func_Login.js"></script>
<script type="text/javascript" src="resources/JQuery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="resources\JQuery\jquery.cookie.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script type="text/javascript" src="resources/CKEditor/build/ckeditor.js"></script>
<script type="text/javascript">
	loadIPstring();
	createPopup();
	noCacheImg();
	pressEnterKey();
</script>
</head>

<body>
<div class="loginBox">
	<img class="mainLogo" src="resources/Images/logo5.png">
	<table class="mainInfo">
		<tr>
			<td><input type="text" id="userID" name="key" spellcheck="false" autocomplete="off" placeholder="ID를 입력해 주세요."></td>
		</tr>
		<tr>
			<td><input type="password" id="userPW" autocomplete="off" placeholder="PW를 입력해 주세요."></td>
	</table>
	<input type="button" class="loginBtn" value="로그인" onclick="loginProcess()">
	<input type="button" class="requestMemberBtn" value="회원 등록" onclick="openPopup()">
	<input type="button" class="unLoginBtn" value="비회원" onclick="nonMemberLogin()">
	
	<div id="RecommendedSpec">
		<img src="resources/Images/chromeLogo.png"><br>
		본 사이트는 구글 크롬(Chrome) 브라우저 및 PC 화면에 최적화되어 있습니다.
	</div>
</div>
<div class="popupBackground"></div>
<div class="popupBox"></div>
<div class="videoGameFrame"><iframe src="../gamza"></iframe></div>
</body>
</html>